div.navbar.navbar-fixed-top
    div.navbar-inner
        div.container-fluid
            a.btn.btn-navbar(data-toggle="collapse" data-target=".nav-collapse")
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.brand(href="#") Market Analyzer

            div.nav-collapse.collapse
                 ul.nav
                    li.active
                        a(href="#") Dashboard
                    li.dropdown.hide
                        a.dropdown-toggle(href="#" role="button" data-toggle="dropdown") Settings
                            i.caret
                            ul#menu1.dropdown-menu
                                li
                                    a(href="#") Tools
                                        i.icon-arrow-right
                                    ul.dropdown-menu.sub-menu
                                        li
                                            a(href="#") Reports
                                        li
                                            a(href="#") Logs
                                        li
                                            a(href="#") Errors
                                li
                                    a(href="#") SEO Settings
                                li.divider
                                li
                                    a(href="#") Other Link
                                li
                                    a(href="#") Other Link

                    li.dropdown.hide
                        a.dropdown-toggle(href="#" role="button" data-toggle="dropdown") Content 
                            i.caret
                            ul.dropdown-menu
                                li
                                    a(href="#") Blog
                                li
                                    a(href="#") News
                                li
                                    a(href="#") Custom Pages
                                li
                                    a(href="#") Calendar
                                li.divider
                                li
                                    a(href="#") FAQ
                    li.dropdown.hide
                        a.dropdown-toggle(href="#" role="button" data-toggle="dropdown") Users 
                            i.caret
                            ul.dropdown-menu
                                li
                                    a(href="#") User List
                                li
                                    a(href="#") Search
                                li
                                    a(href="#") Permissions