div#sidebar.span3
    ul.nav.nav-list.bs-docs-sidenav.nav-collapse.collapse
        li.active
            a(href="index.html") Dashboard
                i.icon-chevron-right
        li
            a(href="#") Statistics
                i.icon-chevron-right               
        li
            a(href="#") Tables
                i.icon-chevron-right               
        li.hide
            a(href="#") Invoices
                i.icon-chevron-right               
                span.badge.badge-info.pull-right 812
        li.hide
            a(href="#") Reports
                i.icon-chevron-right               
                span.badge.badge-important.pull-right 10
        li.hide
            a(href="#") Logs
                i.icon-chevron-right               
                span.badge.badge-warning.pull-right 4,231