html(lang="en")
    head
        title 
            = title
        include includes/_defaults
    body
        include includes/_header
        div.container-fluid
            div.row-fluid
                include includes/_sidebar

                <!-- Main content area -->
                div.span9
                    
            include includes/_footer